
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="musician">
      <th mat-header-cell *matHeaderCellDef> Musician </th>
      <td mat-cell *matCellDef="let element"> {{element.musician}} </td>
    </ng-container>
  
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef> File Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
    (click)="showPlayer($event)"></tr>

  </table>

  <section *ngIf="playSong?.isPlay" class="audio-block" >
    <audio controls  autoplay
    src="{{playSong?.song}}">
      <source  src="{{playSong?.song}}" type="audio/mpeg">
    </audio>
    <p>{{playSong?.musician}}-{{playSong?.fileName}}</p>
  </section>
</div>

